body, html {
  height: 100%;
  width: 100%;
}
body {
	color: #222;
	font: 1.2em Mate;
    padding-top: 150px;
	/*background-color: #222222;*/
    /*background-color: #dedede;*/
}
html {
    scroll-behavior: smooth;
}
:target:before {
    content: "";
    display: block;
    height: 180px;
    margin: -100px 0 0;
}

a {
    text-decoration: none;

}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.line {
    height: 33px;
    width: 10px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    margin-bottom: -15px;
    margin-right: 20px;
  }

.make-me-sticky {
    position: -webkit-sticky;
      position: sticky;
      top: 160px;
      
    padding: 0 15px;
  }
  
p {
    color: rgb(91, 91, 91);
    font: 0.8em Mate;
    margin-top: 1rem;
}

p-network {
    color: rgb(203, 203, 203);
    font: 1.2em Mate;
    margin-top: 1rem;
}

#mynetwork {
	width: 100%; height: 100%;
	/*border: 1px solid #444444;*/
	background-color: #222222;
}

.navbar-brand {
    font-size:1.5rem !important;
    font-weight: 800;
}

.title {
	/* font-family: Economica; */
	/*color: #fff;*/
    font-size:3em;
	font-weight: 400;
}

.economica {
    /* font-family: Economica; */
}

.row {
    margin-top: 10px;
}
h1,.h1 {
    /* font-family: Economica; */
    font-size: 1.5em;
}
h2,.h2 {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    /* font-family: Economica; */
    font-size: 1.2em;
    padding: 5px;
    background: #eee;}

h3 {
    /* font-family: Economica; */
    color: rgb(34, 34, 34);
    font-size:1.1em;
    font-weight: 400;
}
h3-network {
    /* font-family: Economica; */
    color: #fff;
    font-size:2em;
    font-weight: 400;
}

.circle {
    margin-top: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;
    background: #555;
    padding-top: 2px;
    /* border: 3px solid #fff; */
    color: #fff;
    text-align: center;
    /* font: 28px Economica, sans-serif; */
}

.circle-small {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    background: #fff;
    border: 3px solid #fff;
    color: #fff;
    text-align: center;
    font: 14px Economica, sans-serif;
    padding:14px 0;
}

.vl {
/*  border-left: 6px solid;
  height: 100px;
*/  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

div.vis-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 20px !important;
    white-space: normal !important; 
    font-family: Mate;
    font-size: 12px !important;
    color: #ccc;
    background-color: #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px solid #808074;
    box-shadow: 3px 3px 10px rgba(100,100,100,.2);
    pointer-events: none;
    z-index: 5;
    max-width: 400px;
    /* overflow-wrap: break-word; */
}

.modal-header, .modal-footer{
    background: #333;
}
.modal-body {
    background-color: #222222;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }