# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
flask
werkzeug
jinja2
peewee
wtforms
wtf-peewee
gunicorn
flask_peewee
psycopg2
psycopg2-binary
flask-admin