
<!doctype html>
<html>
<head>
	<title>UCLA Research Life Cycle Map</title>
	
	<!-- google fonts	 -->
	<link href="https://fonts.googleapis.com/css?family=Economica|Mate&display=swap" rel="stylesheet">	

	<!-- jquery -->
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- visjs -->
	<script type="text/javascript" src="../static/js/vis.js"></script>
	<script type="text/javascript" src="../static/js/papaparse.min.js"></script>

	<!-- inhouse css -->
	<link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
	
</head>

<body>


<div class="container">
	<!-- Top navigation bar -->
	<nav class="navbar fixed-top navbar-light bg-light">
		<div class="container">
			<div class="row">
				<div class="col-2 align-self-center">
					<img src="../static/images/ucla.png" class="img-fluid">
				</div>
				<div class="col-10 align-self-center title">
					Research Life Cycle
				</div>
			</div>
			<div class="row" style="width:100%">
				<div class="col-10 align-self-center " id="banner-section">
					
				</div>
				<div class="col-2 align-self-center">
					<span style="cursor:pointer;" onclick="toggleContent()">List</span> | <span style="cursor:pointer;" onclick="toggleContent()">Map</span>
				</div>
			</div>
		</div>
	</nav>

	<!-- content -->
	<div class="row">
		<!-- main -->
		<div class="col-8">
			<div id="main-content" ></div>
			<div id="main-network" >
				<div id="network-top">Instructions: Click on a node to zoom in and see supporting institutions.</div>
				<div id="network-body"></div>
			</div>
			<div id="main-institute" ></div>
		</div>
		<!-- sidebar -->
		<div class="col-4">
			<div id="side-content" class="make-me-sticky"></div>
		</div>
	</div>
</div>

<!-- custom javascript -->
<script type="text/javascript" src="../static/js/globals.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>

</body>
</html>
